* {
    font-family: 'Open Sans', 'Arial', sans-serif;
    box-sizing: border-box;
} 

h1{
    font-family: 'Montserrat';
    font-weight: 700;
}

h2{
    font-family: 'Montserrat';
    font-weight: 700;

}

h3 {
    font-family: 'Montserrat';
    font-weight: 700;
}


.footer{
    background-color: #434343;
    font-size: 16px;
    line-height: 22px;

}

.join{
    background-color: #000000;
    font-weight: 700;
    color: #FFFFFF;
    width: 81px;
    align-items: center;


}
ul{ 
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.form{
    background-color: #E5EAF8;

}

.submit{
    background-color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    width: 106px;
    align-items: center;

}

.footer-titles{
    color: #AAAAAA;
    display: flex;
    max-width: 1180px;

}

.CustomerInformation{
    padding-left:320px ;
    padding-right:233px ;
}


.footer-navigation{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 158px;

}

.footer-information{
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 148px;
    padding-left: 20px;

}

a {
    text-decoration: none;

}
 button {
    border: none;
    cursor: pointer;
 }

 .rating{
    color: #FFFFFF;

 }

.copyright{
    color: #FFFFFF;
    padding-right: 109px;

}

.development{
    color: #A2A2A2;

}

.switch li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.nav a{
    text-transform: uppercase;
    color:  #1E0606;
}
 .Contact{
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E0606;

 }
 .location:last-child{
    opacity: 0.5;
 }

 .location {
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 20px;
    line-height: 26px;
    color: #1E0606;

 }

 .navigation{
    display: flex;
    align-items: center;

}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav li {
    margin-right: 20px;
}

.search{
    margin-left: 658px;
}

.Contact{
    margin-left: 23px;
}

.containerforfooter{
    display: flex;
    flex-direction: column;


}

.footer-data{
    display:flex ;
}
.brands-footer{
    display: flex;
    max-width: 150px;
    justify-content: space-between;
    margin-top: 25px;
}

.form-footer{
    display: flex;
    flex-direction: column;
    width: 380px;

}


.footer-data ul{
    width:  380px;
}

.CompanyRating{
    display: flex;
}

.companies{
    display: flex;
}

.stars{
    margin-right: 155px;
}

