.banner{
    background-color: #EEE4DB;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 129px;
    padding-bottom: 89px;
}

 .text {
    background-color: #C29974;
    font-size: 12px;
    width: 1180px;
    padding: 11px 364px;
}

.leftarrow{
    background-color: #E2F1F8;
    
}

.rightarrow{
    background-color: #E2F1F8;

}

.delivery{
    background-color: #E2F1F8;


}

.learnmore{
    background-color: #000000;

}

.design{
    background-color: #E1F0F7;


}

.design h2{
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;

}

.aboutus{
    font-family: 'Crimson Text';
    font-style: italic;
    font-size: 26px;
    line-height: 34px;

}

.buy{
    color: #FFFFFF;
    background-color: #000000 ;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    width: 123px;
    display: block;
    padding: 9px;
}


.contacts h2 {
    line-height: 46px;
    text-transform: uppercase;
    font-size: 38px;

}


.CategoryProducts{
    display: flex;
}

.accessories{
    margin-left: 25px;
}

.toys{
    margin-left: 25px;
}

.shop{
    margin-left: 20px;
}

.arrows{
    display: inline-flex;
}

.Delivery-section{
    display: flex;
}

.information{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
}

.brands{
 display: flex;
 justify-content: space-between;
margin: top 91px; 
margin-bottom: 90px;
}

.design{
    max-width:  543px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts{
    max-width:  543px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 57px;
    background-color: #E1F0F7;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
     }

.articles{
        display: flex;
        margin-bottom: 174px;
     }

.Designheadline{
    margin-top: -26px;
}

.Contactsheadline{
    margin-top: -26px;
}

.map{
    padding: 137px 30px 0px;
    position: absolute;
}

.monster{
    position: absolute;
    margin-left: 445px;
    margin-top: -80px;
}

.one{
    position: absolute;
}

.banner h1 {
    padding-top:  89px; ;
    padding-left: 133px;
    font-size: 40px;
    width: 440px;
    margin-bottom: 0px;
}

.designedby{
    padding-left: 133px;
    margin-bottom: 0px;
    margin-top:20px ;
    
}

.explore{
    padding: 9px 22px;
    width: 161px;
    margin-left: 133px;
    margin-top: 20px;
    background-color: #000000 ;
}

.products h2{
    margin-top: 90px;
}